BasedOnStyle: Google
IndentWidth: 4
AccessModifierOffset: -1
ColumnLimit: 150
AlignConsecutiveAssignments: false
AlignConsecutiveDeclarations: false
AlignTrailingComments: true
BreakBeforeBraces: Attach
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: true
AllowShortLoopsOnASingleLine: true
ConstructorInitializerAllOnOneLineOrOnePerLine: false
ConstructorInitializerIndentWidth: 4
ContinuationIndentWidth: 4
PointerAlignment: Left
ReflowComments: true
SortIncludes: true
IndentCaseLabels: false
NamespaceIndentation: None
UseTab: Never